:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Logo */
.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.colortext {
  color: var(--accent-color);
}

/* Site nav */
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: 93px;
}
.nav,
.auth-nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav .link,
.auth-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.nav .link.current {
  color: var(--accent-color);
}
.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}
.auth-nav {
  margin-left: auto;
}

.nav .link:hover,
.nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--secondary-text-color);
}

/* Hero */
.hero {
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
  margin-bottom: 30px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}
/* Features */
.feature-list {
  display: flex;
}
.feature-item {
  width: 270px;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
}
.feature-title,
.user-title {
  margin-top: 0;
  margin-bottom: 10px;
}
/* Work */
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  width: 270px;
}
.work-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* User */

.user-title,
.user-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.user-text {
  padding-bottom: 30px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
/* Button */
.button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.footer .address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
